<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='nav.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='vault.js')}}""></script>
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav id=nav>
    <ul id=nav>
        <li id=nav>
            {% if user.is_authenticated %}
            <a href="/" id=nav>Home</a>
            <a href="/logout" id=nav>Logout</a>
            <a href="/vault" id=nav>Vault</a>
            {% else %}
            <a href="/login" id=nav>Login</a>
            <a href="/sign-up" id=nav>Sign Up</a>
            {% endif %}
        </li>
    </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
            <div> <h1>{{ message }}</h1> </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
    {% endblock %}

    {% block content %} {% endblock %}
</body>
</html>